@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');


body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    color: #909090;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to right, black, rgb(15, 15, 15));
    padding-top: 40px;
}

.section-header-font {
    font-size: 3rem;
    color: white;
    padding-bottom: 20px;
}

#style-text{
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: larger;
  
}
.common-width {
    max-width: 1060px;
    margin: 0 auto;
}

.banner-left,
.banner-right {
    max-width: 500px;
}

.nav-left>h3 {
    font-weight: 800;
    font-size: 2.2rem;
    font-style: italic;
    color: #E6533C;
}
.list-item>i{
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 20px;
}

.list-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    border: 1px solid #909090;
    padding: 5px 5px;
    border-radius: 20px;
}

.list-item>li>a {
    font-size: 1.13;
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    border-radius: 20px;
}

.list-item>li:nth-of-type(1) {
    background-color: #E6533C;
    padding: 7px 20px;
    border-radius: 20px;
}

.banner-section {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.banner-left>h1 {
    font-size: 4.8rem;
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
}

.btn-primary1 {
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 16px;
    margin: 25px 5px;
    background-color: #E6533C;

}

.btn-primary2 {
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 16px;
    border: 1px solid white;
    margin: 25px 5px;
    background-color: black;

}

.banner-right img {
    width: 349px;
    height: 580px;

}

.banner-right {
    position: relative;
}

.round {
    background-color: #E6533C;
    width: 40px;
    height: 40px;
    border: none;
    margin-top: 15px;
    border-radius: 50%;

}

.diplay-box-over-image {
    display: flex;
    justify-content: center;
    background: rgb(191, 80, 80);
    width: 190px;
    height: 90px;
    position: absolute;
    bottom: 60px;
    left: 0px;
    border-radius: 20px;
}

.diplay-box-over-image2 {
    display: flex;
    justify-content: center;
    background: rgb(191, 80, 80);
    width: 180px;
    height: 100px;
    position: absolute;
    top: 100px;
    right: 0px;

    border-radius: 20px;
}

.background {
    background-color: rgba(27, 27, 27, 0.663);
    padding: 5px;

}

.background>h3 {
    color: white;
}

.background>h1 {
    color: white;
    font-weight: 700;
}

main, footer {
    background-color: black;
}

h4 {
    color: white;
}

.image-card {
    width: 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-card img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 20px;

}

.image-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 30px;
}

.card-section-text {
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 100px;

}

.run-section {
    background-color: #222222;
    margin-top: 100px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;

}

.run-section-half-width {
    max-width: 530px;
    padding: 40px 54px 0px 40px;
}

.run-section-half-width img {
    max-width: 366px;
    border-radius: 16px;
}

.bmi-section-width {
    background-color: #222222;
    padding-top: 100px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    color: white;
}

thead,
th,
tr,
td {
    border: 1px solid #909090;
    padding: 8px 20px;
}

.bmi-main-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.bmi-section-header-text {
    color: white;
    font-size: 1.75rem;
    padding: 20px 0px;

}

.bmi-right {
    max-width: 577px;
}

form {
    margin-top: 30px;
}

input {
    width: 46%;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    background-color:rgba(128, 128, 128, 0.474);
    border: none;
}
::placeholder, select{
    color: #909090;
}
.select-btn {
    width: 94%;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    background-color:rgba(128, 128, 128, 0.474);
    border: none;
}

.select-btn1 {
    padding: 8px;
    margin-bottom: 5px;
    width: 46%;
    border-radius: 5px;
    background-color:rgba(128, 128, 128, 0.474);
    border: none;
}

.image-containers {
    background-color: rgba(128, 128, 128, 0.151);
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   justify-items: center;
    gap: 10px;
    border-radius: 15px;
}

.image-contain {
    width: 326px;
    height: 272px;
    position: relative;

}
.image-contain>h4{
  position: absolute;
  bottom: 40px;
  left: 20px;
}
.image-contain>p{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
.image-contain img {
    width: 326px;
    height: 272px;
    border-radius: 15px;
}
.footer-item{
    flex-basis: 45%;
    padding: 10px;
}

.footer-item1>h3{
    color: white;
    padding: 7px;
}
.footer-item1>p{
   padding: 7px;
}
.footer-m{
    display: flex;
    justify-content: space-between;
  padding-top: 50px;
 
}
hr{
    border: .2px solid rgb(65, 59, 59);
    margin-bottom: 40px;
}
.footer-botom{
   max-width: 1000px;
   text-align: center;
   margin: 0 auto;
   padding: 50px 0px;
}
.footer-item>h3{
    color: white;
    padding-bottom: 10px;
    font-size:1.5rem;
}
.footer-item>h1{
    color: white;
    padding-bottom: 10px;
    font-size: 4.37rem;
    color: rgb(191, 80, 80);
    font-weight: 700;
    font-style: italic;
}
.get-started-footer{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:576px) {


    .banner-section {

        flex-direction: column;

    }

    .image-cards {
        grid-template-columns: 1fr;

    }

    .diplay-box-over-image {
        top: 200px;
    }

    .diplay-box-over-image {
        bottom: 200px;
    }

    .run-section {
        flex-direction: column;
    }

    .bmi-main-section {
        flex-direction: column;
        align-items: center;
    }
    .image-containers {
        grid-template-columns: 1fr;
    }
    .footer-m{
        flex-direction: column;
    }
    .bmi-right {
        padding-left: 10px;
    }
    .list-item>li{
        display: none;
    }
    .list-item>i{
        display: block;
        color: white;

    }

    /* 
 
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        padding: 20px;
    } */
    
}